@media(max-width: 768px) {
    .col-md-4 img {
        margin-top: 15px !important;
    }

    .row {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    .fa-times {
        top: 33px !important;
    }
}
.alert {
    font-size: 12pt;
    font-weight: normal;
}
.jcrop-keymgr {
    display: none!important;
}
ul[name="cityfilter"] {
    z-index: 999;
    width: 89%;
}

ul[name="cityfilter"] li:hover {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}

ul[name="cityfilter"] li:first-child {
    border-right: 1px solid darkgray;
    border-left: 1px solid darkgray;
    border-top: none;
    border-bottom: none;
}

ul[name="cityfilter"] li {
    background-color: aliceblue;
    padding: 2px 3px;
    font-size: 11pt;
    border-right: 1px solid darkgray;
    border-left: 1px solid darkgray;
}

ul[name="cityfilter"] li:last-child {
    border-right: 1px solid darkgray;
    border-left: 1px solid darkgray;
    border-top: none;
    border-bottom: 1px solid darkgray;
}

.fa-times {
    top: 36px;
    right: 25px;
    font-size: 10pt;
    cursor: pointer;
}
#inputarea span {
    font-size: 11pt!important;
}
