@media(max-width: 768px) {
    .notifier {
        position: absolute;
        right: 100px!important;
        top: 10px;
    }   
}
.notifier {
    position: absolute;
    right: 80px;
    top: 10px;
}

.bell {
    font-size: 15px;
    color: #FFF;
    transition: 0.3s;
}

.bell:hover {
    color: #EF476F;
}

.notify-badge {
    position: absolute;
    top: 0px;
    left: 24px;
    padding: 0 5px;
    font-size: 10px;
    font-weight: 200;
    line-height: 18px;
    height: 18px;
    background: #EF476F;
    color: #FFF;
    border-radius: 11px;
    white-space: nowrap;
}

.notifier.green .notify-badge {
    background: #06D6A0;
}

.notifier.green .bell:hover {
    color: #06D6A0;
}

.notifier.new .notify-badge {
    animation: pulse 2s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    40% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.3, 1.3, 1.3);
    }
    55% {
        transform: scale3d(1, 1, 1);
    }
    60% {
        transform: scale3d(1.3, 1.3, 1.3);
    }
    65% {
        transform: scale3d(1, 1, 1);
    }
}
