#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        margin-left: 0;
    }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #f7f8f9;
    border-left: 1px solid #dfdfdf;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
    margin-right: 0;
}

#page-content-wrapper {
    width: 100%;
    margin-right: 0;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
        padding: 0 15px 0 5px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #282828;
            border-bottom: 1px solid #dddddd;
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #1a1a1a;
                background: #a1a1a1;
                background: rgba(194, 194, 194, 0.2);
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        font-size: 18px;
        padding: 10px 15px 10px 0;
        border-bottom: 1px solid #dfdfdf;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #282828;
            border-bottom: none !important;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #171717;
                background: none;
            }

@media(min-width:1060px) {
    #wrapper {
        padding-right: 0;
    }

        #wrapper.toggled {
            margin-left: 0;
            padding-right: 250px;
        }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
        right: 250px;
        margin-right: -250px;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
    }

    #LoginBtn {
        outline: none !important;
    }
}

@media(max-width: 1060px) {
    #donateBtn ,#donateBtn1 {
        margin: 15px 10px 15px 12px;
        color: #f7f8f9;
    }

    form#donateform:hover {
        background-color: #e89300;
        cursor: pointer;
    }

    form#donateform {
        background-color: #fa9e00;
    }

    #LoginBtn {
        outline: none !important;
        padding: 0 !important;
    }

        #LoginBtn.active {
            color: #e89300 !important;
        }

    .sidebar-nav li a.active {
        color: #e89300 !important;
    }
}
