@media(max-width: 768px) {
    #namearea.col-sm-9 {
        margin-bottom: 10px !important;
    }
    .list-group-item.list-group-item-action {
        padding: 3px !important;
    }
    .media {
        background-color: #f2f2f2;
        padding: 4px;
        border: 1px solid #eaeaea;
    }

        .media img {
            margin-right: 15px !important;
            width: 30px!important;
            height: 30px!important;
            margin-top: 5px;
            margin-left: 5px;
        }
    .display-4 {
        width: 70px !important;
        text-align: center !important;
    }

    #teamstatistics .card-body {
        padding: 5px 15px !important;
    }

    .media .media-body .col-sm-6:nth-child(1) {
        padding-bottom: 7px !important;
        border-bottom: 1px solid rgb(235, 235, 235);
        margin-right: 15px !important;
    }

    .media .media-body .col-sm-6:nth-child(2) {
        padding-top: 7px !important;
    }
    #AlertArea {
        margin-top: 10px;
    }
} 
.list-group-item a {
     font-size: 11pt;
 }

 .card .list-group .list-group-item {
     font-size: 10pt;
     text-align: center;
 }

 .media img {
     width: 50px;
     height: auto;
 }
.alert ul li {
    padding: 3px;
    border-bottom: 1px solid darkgray;
}
.alert ul li:last-child {
    border-bottom: none;
}