
table td, table th {
    color: #f7f7f7;
    padding: 10px;
}
table td {
    text-align: center;
    color: #17a1b7!important;
    vertical-align: middle;
}
table td:last-child {
    font-size: 0.95em;
    line-height: 1.4;
    text-align: left;
}
table th {
    background-color: #6bc2b6;
    font-weight: 300;
}
table tr:nth-child(2n) {
    background-color: white;
}
table tr:nth-child(2n+1) {
    background-color: #edf7f8;
}
