@media(max-width: 768px) {
    .card.p-4 {
        padding: 5px!important;
    }
    .col-md-10 {
        margin-top: 10px!important;
    }
    .display-4 {
        width: 70px !important;
        text-align: center !important;
    }

    #userstatistic .card-body {
        padding: 5px 15px !important;
    }
    #mainUserImage {
        width: 50%!important;
        height: auto!important;
    }
} 
.profile-work{}
 .profile-work p{
     font-size: 17px;
     color: #818182;
     font-weight: 600;
 }
 .profile-work a{
     text-decoration: none;
     font-weight: 600;
     font-size: 14px;
 }