@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}
<style>
    .cookie {
        position: fixed;
        bottom: 45px;
        right: 10px;
        z-index: 999;
    }
</style>
@if (showBanner)
{
    <div class="alert alert-info cookie">
        <div class="">
            <span class="small text-dark">
                This website use cookies to improve your experience.<br>We'll only use your data for purposes you consent to.
            </span>
            <div class="mt-3">
                <a asp-page="/Privacy" class="btn btn-info">Learn More</a>
                <button type="button" id="cookie" class="btn btn-success" data-cookie-string="@cookieString">Accept</button>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            document.querySelector("button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                $('.cookie').fadeOut();
            }, false);
        });
    </script>
}