@using OWM.UI.Web.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - One World Marathon</title>
    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="~/js/Detector.js"></script>
        <script src="~/js/main.js"></script>
        <script src="~/js/three.min.js"></script>
        <script src="~/js/globe.js"></script>
        <link href="~/css/styles.css" rel="stylesheet" />
        <link href="~/css/bootst.css" rel="stylesheet" />
        <script src="~/js/notify.js"></script>
        <script src="~/js/script.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="~/css/chosen.css" rel="stylesheet" />
        <script src="~/js/chosen.jquery.js"></script>
        <script src="~/js/PreventScroll.js"></script>
        <link href="~/css/SidebarNav.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="sidebar-fade" style="display: none;"></div>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand pl-2">
                    <a asp-page="/index" title="Home">
                        <img alt="One World Strong" class="sidebar-logo-owm" src="~/img/logo-one-world-strong-2.svg">
                    </a>
                </li>
                @await Component.InvokeAsync("TopMenu")
            </ul>
        </div>
        <div id="page-content-wrapper">
            <header id="header" class="anim" style="margin-bottom: 100px;">
                <div class="wrap-logo">
                    <img alt="One World Strong" class="logo-one-world-strong" src="~/img/logo-one-world-strong-2.svg">
                </div>
                <nav class="">
                    @await Component.InvokeAsync("TopMenu")
                    <div class="mobile-open">
                        <span class="mobile-icon"></span>
                    </div>
                </nav>
            </header>
            <div>
                @RenderBody()
                @RenderSection("Scripts", required: false)
            </div>
            <footer id="footer">
                <div class="wrap-std">
                    <ul class="social clearfix">
                        <li>
                            <a href="https://www.facebook.com/OWMarathon/" target="_blank">
                                <img alt="Facebook" src="/img/icon-facebook.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/1worldstronger" target="_blank">
                                <img alt="Twitter" src="/img/icon-twitter.svg">
                            </a>
                        </li>
                        <li>
                            <a href="http://www.instagram.com/1wsfoundation" target="_blank">
                                <img alt="Instagram" src="/img/icon-instagram.svg">
                            </a>
                        </li>
                    </ul>
                    <hr class="bg-white" />
                    <div class="row clearfix text-white">
                        <div class="col"><a asp-page="/index">Home</a></div>
                        <div class="col"><a asp-page="/explore">Explore</a></div>
                        <div class="col"><a href="https://www.oneworldstrong.org/copy-of-our-impact">Help us</a></div>
                        <div class="col"><a asp-page="/Video">Video</a></div>
                        <div class="col"><a asp-page="/Fun_stuff">Fun stuff</a></div>
                    </div>
                    <hr class="bg-white" />
                    <div class="copyright">
                        © 2019 - One World Strong Foundation
                    </div>
                    <div class="text-left xx-small text-muted mt-3">
                        <a asp-page="/Terms">Terms & conditions</a> - 
                        <a asp-page="/Privacy">Privacy policy</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <partial name="_BottomTicker" />
    <script>
        $(document).click(function (event) {
            $target = $(event.target);
            if ($target.closest('#page-content-wrapper').length && $('#wrapper').hasClass("toggled")) {
                $("#wrapper").removeClass("toggled");
            }
            if ($target.closest('.mobile-open').length) {
                $("#wrapper").addClass("toggled");
            }
        });
    </script>
</body>
</html>
