@using OWM.Application.Services.Interfaces
@inject IOccupationInformationService OcpInformationService;
@{
    List<SelectListItem> occupationOptions = OcpInformationService.GetOccupations().Where(x => x.Order == 1).Select(x => new SelectListItem
    {
        Text = x.Name,
        Value = x.Id + ""
    }).ToList().Result;
}

<link href="~/css/SearchTeams.css" rel="stylesheet" />
<h4 class="font-weight-bold">Search teams</h4>
<hr class="mb-0 mb-3" />
<div class="pl-4 pr-4" id="main">
    <div class="list-group w-100 m-auto">
        <div class="searchbox list-group-item p-1 pl-2" style="margin-bottom: .5px;">
            <input placeholder="Search Teams" autocomplete="off" id="searchteams" class="border-0 w-100" style="height: 40px;" />
            <img src="~/img/loading.gif" class="loading-md-exp" />
        </div>
        <div id="accordion">
            <div class="card rounded-0" style="background-color: #d2e8d5">
                <div class="card-header border-bottom-0 rounded-0">
                    <a class="card-link small" data-toggle="collapse" href="#collapseOne">
                        Filters <i class="fas fa-caret-down"></i>
                    </a>
                </div>
                <div id="collapseOne" class="collapse fade" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-md-3 text-left" style="line-height: 31px;">Team Members</div>
                            <div class="col-md-9 text-left">
                                <div class="btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-sm btn-outline-success active">
                                        <input type="radio" name="teammembers" id="option1" autocomplete="off" data-value="1"> Acending
                                    </label>
                                    <label class="btn btn-sm btn-outline-success">
                                        <input type="radio" name="teammembers" id="option2" autocomplete="off" data-value="2"> Decending
                                    </label>
                                    <label class="btn btn-sm btn-outline-success">
                                        <input type="radio" name="teammembers" id="option3" autocomplete="off" data-value="0" checked> Off
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-3 text-left" style="line-height: 31px;">Miles Pledged</div>
                            <div class="col-md-9 text-left">
                                <div class="btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-sm btn-outline-success active">
                                        <input type="radio" name="milespledged" id="option4" autocomplete="off" data-value="1"> Acending
                                    </label>
                                    <label class="btn btn-sm btn-outline-success">
                                        <input type="radio" name="milespledged" id="option5" autocomplete="off" data-value="2"> Decending
                                    </label>
                                    <label class="btn btn-sm btn-outline-success">
                                        <input type="radio" name="milespledged" id="option6" autocomplete="off" data-value="0" checked> Off
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 text-left" style="line-height: 37px;">Occupation</div>
                            <div class="col-md-9 text-left">
                                <select class="chosen-select" data-placeholder="" id="Occupations" asp-items="occupationOptions">
                                    <option value="-1">All</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3 text-left" style="line-height: 37px;">Age range</div>
                            <div class="col-md-9 text-left">
                                <select class="chosen-select" data-placeholder="" id="Ages">
                                    <option value="0">Below 14</option>
                                    <option value="1">15 To 17</option>
                                    <option value="2">17 Plus</option>
                                    <option value="3" selected>All</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="list-group-item bg-lightgreen pl-4 pr-4 pt-2 pb-2">
            
            
        </div>*@
    </div>
</div>

<div class="container mt-3" id="teamsearchresult"></div>

<script>
    $(function () {
        $('.chosen-select').chosen({ width: "100%" });
        $('#searchteams').focus();
        var loading = $('.loading-md-exp');
        var teamSerachResult = $('#teamsearchresult');

        $('input[name=teammembers]').on('change', function () {
            filterTeams();
        });

        $('input[name=milespledged]').on('change', function () {
            filterTeams();
        });

        $('.chosen-select').on('change', function () {
            filterTeams();
        });

        var take = 3, skip = 0, rows = 0;
        var elements = [];
        var isDataAvailable = true, isPreviousEventComplete = true;
        var load = '<img src="/img/loading.gif" id="loadteams" style="width: 20px; height: 20px; position: absolute; left: 48%; margin-top: -5px;"/>';
        var typingTimer;
        var doneTypingInterval = 1000;
        var $input = $('#searchteams');
        $input.on('keyup', function () {
            loading.show();
            clearTimeout(typingTimer);
            typingTimer = setTimeout(filterTeams, doneTypingInterval);
        });
        $input.on('keydown', function () {
            clearTimeout(filterTeams);
        });

        function filterTeams() {
            loading.show();
            teamSerachResult.empty();
            take = 3, skip = 0;
            sendRequest();
        }

        var html;
        $.get("/contents/TeamSearchTemplate.html", function (htmlString) {
            html = htmlString;
            sendRequest();
        }, 'html');

        function sendRequest() {
            var search = {};
            search.SearchExpression = $input.val();
            search.MembersOrder = $(document).find('input[name=teammembers]:checked').data().value;
            search.MilesOrder = $(document).find('input[name=milespledged]:checked').data().value;
            search.Occupation = $('#Occupations :selected').val() !== "" ? $('#Occupations :selected').val() : -1;
            search.SrchAgeRange = $('#Ages :selected').val();
            search.Take = take;
            search.Skip = skip;

            //AjaxPost({
            //    url: '/api/Search/Count',
            //    param: JSON.stringify(search),
            //    func: counterr
            //});

            //function counterr(e) {
            //    rows = e;
            //}

            AjaxPost({
                url: '/api/Teams/Search',
                param: JSON.stringify(search),
                func: createList
            });
        }


        function createList(e) {
            if (!e.length) {
                isDataAvailable = false;
                loading.hide();
                return;
            }
            elements = [];
            for (var i = 0; i < e.length; i++) {
                elements.push(html
                    .replace("#m#", e[i].teamMembersCount)
                    .replace("#mp#", e[i].totalMilesPledged)
                    .replace('#mc#', e[i].totalMilesCompleted)
                    .replace('#teamname#', e[i].teamName)
                    .replace('#datecreated#', e[i].str_DateCreated)
                    .replace("#desc#", e[i].description.substring(0, 150) + ' ...')
                    .replace("#teamid#", e[i].teamId)
                    .replace("#occ#", e[i].occupations.join(' / ')));
            }
            loading.hide();
            writeElementsToDom();
        }


        function writeElementsToDom() {
            if (elements.length > 0) {
                isDataAvailable = true;
                for (var i = 0; i < elements.length; i++) {
                    $(elements[i]).hide().appendTo(teamSerachResult).show('slow');
                    skip++;
                }
            } else {
                isDataAvailable = false;
            }
        }


        $(window).scroll(function () {
            if ($(document).height() - 400 <= $(window).scrollTop() + $(window).height()) {
                if (isPreviousEventComplete && isDataAvailable) {
                    isPreviousEventComplete = false;
                    var loadingElement = $(load);
                    loadingElement.appendTo(teamSerachResult);
                    setTimeout(function () {
                        sendRequest();
                        isPreviousEventComplete = true;
                        loadingElement.remove();
                    }, 1000);
                }
            }
        });
    });
</script>