@page
@model OWM.UI.Web.Pages.User.CreateTeamModel
@{
    Layout = "Shared/UserLayout";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

}

<style>
    .row span {
        font-size: 11pt !important;
    }
</style>
<h2>Create a team</h2>
<hr />
<div class="alert alert-warning small">Based on your date of birth, only members @Model.AgeRange could join this team.</div>
<form method="post">
    <div asp-validation-summary="All" id="ValidationSummary"></div>
    @if (TempData[CreateTeamModel.MessageKey] is string message)
    {
        <p class="alert alert-success mt-3" id="alertsuccess">@message</p>
        <a href="/User"></a>
    }
    <div id="inputarea">
        <div class="row">
            <div class="col-md-6">
                <span for="teamname">Team Name</span>
                <input asp-for="Input.TeamName" required class="form-control" type="text" id="teamname" />
            </div>
            <div class="col-md-6">
                <span for="milesdpledge">Miles Pledge</span>
                <input asp-for="Input.MilesPledged" required class="form-control" type="number" step="0.01" id="milesdpledge" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="checkbox mb-1">
                    <span>
                        <input asp-for="Input.OccupationFilter" type="checkbox" onchange="occupationlist(this);" class="align-middle">
                        Only same occupations as mine can join this team
                    </span>
                </div>
                <div style="display: none;" id="OccupationList" class="card p-2 bg-light">
                    <span class="text-primary mb-1">You can add additional occupations, to be able to join your team</span>
                    <select class="chosen-select" multiple data-placeholder="" asp-items="Model.OccupationOptions">
                        <option value=""></option>
                    </select>
                    <input id="selectedOcc" type="hidden" asp-for="Input.SelectedOccupations" value="" />
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <span>Descreption</span>
                <textarea asp-for="Input.Description" required rows="3" class="form-control" style="resize: none;"></textarea>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <button class="btn btn-success" id="createteam">Create Team</button>
            </div>
        </div>
    </div>


</form>
<script>
    $(function () {
        var occ = [];
        $('.chosen-select').chosen({ width: "100%" })
            .on('change', function (evt, params) {
                if (params.selected) {
                    occ.push({
                        name: $('.chosen-select :selected:last').text(),
                        value: params.selected
                    });
                } else {
                    occ.splice(occ.findIndex(item => item.value == params.deselected), 1);
                }
                $('#selectedOcc').val(JSON.stringify(occ));
            });
    });
    function occupationlist(e) {
        e.checked ? $('#OccupationList').fadeIn() : $('#OccupationList').fadeOut();
    }
</script>