@page
@model OWM.UI.Web.Pages.User.CreateTeamModel
@{
    Layout = "Shared/UserLayout";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

}

<style>
    .row span {
        font-size: 11pt !important;
    }
</style>
<h2>Create a team</h2>
<h3>Based on your date of birth, only members @Model.AgeRange could join this team.</h3>
<hr />
<form method="post">
    <div asp-validation-summary="All" id="ValidationSummary"></div>
    <div id="inputarea">
        <div class="row">
            <div class="col-md-6">
                <span for="teamname">Team Name</span>
                <input asp-for="Input.TeamName" required class="form-control" type="text" id="teamname" />
            </div>
            <div class="col-md-6">
                <span for="milesdpledge">Miles Pledge</span>
                <input asp-for="Input.MilesPledged" required class="form-control" type="number" id="milesdpledge" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="checkbox">
                    <span>
                        <input asp-for="Input.OccupationFilter" type="checkbox" onchange="occupationlist(this);" class="align-middle">
                        Only same occupations as mine can join this team
                    </span>
                </div>
                <div style="display: none;" id="OccupationList">
                    <label>You can add additional occupations, to be able to join your team</label>
                    <select asp-for="Input.OccupationIds" required class="chosen-select" multiple data-placeholder="" asp-items="Model.OccupationOptions"></select>
                    <input type="hidden" asp-for="Input.SelectedOccupations" value="1,2,3" />
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <span>Descreption</span>
                <textarea asp-for="Input.Description" required rows="3" class="form-control" style="resize: none;"></textarea>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <button class="btn btn-success" id="createteam">Create Team</button>
            </div>
        </div>
    </div>
</form>
<script>
    $(function () {
        $('.chosen-select').chosen({ width: "100%" })
            .on('change', function (evt, params) {
                console.log(evt);
                console.log(params.selected);
            });
        $('#createteam').on('click',
            function () {
                Checkinputs('inputarea');
                ElementRedalert('createteam', 'right center', 'Please Fill out Fields');
            });
    });
    function occupationlist(e) {
        e.checked ? $('#OccupationList').fadeIn() : $('#OccupationList').fadeOut();
    }
</script>