@page
@model OWM.UI.Web.Pages.User.HelpModel
@{
    ViewData["Title"] = "Help";
    Layout = "Shared/UserLayout";
}
<div id="help-contents"></div>
<script>
    $(function () {
        $('#help-contents').load('/help/help.html');
    })
</script>