@page
@model MessagesModel
@{
    Layout = "Shared/UserLayout";
}
<link href="~/css/Messages.css" rel="stylesheet" />
<h4 class="font-weight-bold">Messages</h4>
<hr class="mb-0 mb-3" />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-success">
                <div class="btn-group">
                    <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        team's list
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">London's Developers <span class="badge badge-primary">2</span></a>
                        <a class="dropdown-item" href="#">London's Developers <span class="badge badge-primary">1</span></a>
                        <a class="dropdown-item" href="#">London's Developers <span class="badge badge-primary">5</span></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="chat">
                    <li class="left clearfix">
                        <span class="float-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="rounded-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header pb-1">
                                <strong>Jack Sparrow</strong>
                                <small class="float-right text-muted xx-small" id="time">
                                    <i class="far fa-clock"></i> 15 Feb 2019 at 19:35
                                </small>
                            </div>
                            <p class="small mt-1 mb-2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                    <li class="left clearfix">
                        <span class="float-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="rounded-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header pb-1">
                                <strong>Jack Sparrow</strong>
                                <small class="float-right text-muted xx-small" id="time">
                                    <i class="far fa-clock"></i> 12 mins ago
                                </small>
                            </div>
                            <p class="small mt-1 mb-2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer clearfix">
                <textarea class="form-control" rows="3" id="message" placeholder="Type message here ... "></textarea>
                <span class="col-lg-6 col-md-6">
                    <button class="btn btn-warning btn-lg btn-block" id="btn-chat">Send</button>
                </span>
            </div>
        </div>
    </div>
</div>
