@page "/User/News"
@model NewsFeedModel
@{
    Layout = "Shared/UserLayout";
}
<div class="text-center">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=2283841911680137&autoLogAppEvents=1"></script>
    <div class="fb-page" data-height="807" data-href="https://www.facebook.com/OWMarathon" data-tabs="timeline" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/OWMarathon" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/OWMarathon">One World Marathon</a></blockquote></div>
</div>