.card ul li {
    list-style-type: circle !important;
    line-height: 1.5;
    padding: 10px;
    font-size: 14px;
}

.card li li {
    list-style-type: square !important;
}

.card p {
    font-size: 16px;
}

.card ul {
    padding: 20px;
}
