@model Dtos.TopMenuDto
<ul class="desktop-menu">
    @{
        <li>
            <a href="/index">Home</a>
        </li>
        if (Model.IsSignedIn)
        {
            <li>
                <a asp-page="/User/NewsFeed">Welcome @Model.Name</a>
            </li>
        }
        else
        {
            <li>
                <a asp-page="/Login">Login</a>
            </li>
            <li>
                <a asp-page="/Register">Register</a>
            </li>
        }
    }
    <li>
        <a asp-page="/Explore">Explore</a>
    </li>
    <li>
        <a href="#">Help us</a>
    </li>
    <li>
        <a href="#">Gallery</a>
    </li>
    <li>
        <a href="#">Contact us</a>
    </li>
</ul>