@page
@{
    ViewData["Title"] = "No such page";
    Layout = "Shared/_Layout";
}
<div class="container text-center">
    <h1>404 Not found</h1>
    <p>No such page exists at this location.</p>    
</div>
