@page
@model OWM.UI.Web.Pages.Admin.MainModel
@{
    Layout = "Shared/AdminLayout";
}

<div class="w-50">
    <div class="card-body rounded-bottom">
        <div class="row">
            <div class="col-6 p-1">
                <div class="card bg-success text-white">
                    <div class="card-body pb-0">
                        <i class="fas fa-globe-americas fa-3x pb-4"></i>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0 h5">15&deg;</p>
                            <p class="mb-0">12:15 PM</p>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body pt-0">
                        <h6 class="font-weight-bold mb-1">San Francisco</h6>
                        <p class="mb-0">Cloudy</p>
                    </div>
                </div>
            </div>
            <div class="col-6 p-1">
                <div class="card bg-info text-white">
                    <div class="card-body pb-0">
                        <i class="fas fa-sun fa-3x pb-4"></i>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0 h5">23&deg;</p>
                            <p class="mb-0">3:25 PM</p>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body pt-0">
                        <h6 class="font-weight-bold mb-1">New York City</h6>
                        <p class="mb-0">Sunny</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>