@page "/Password/Forget/Confirm"
@model OWM.UI.Web.Pages.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Please check your email to reset your password.</h2>

