@page "/Password/Forget/Confirm"
@model OWM.UI.Web.Pages.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forget password";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="alert alert-success d-block">
        Please check your email to reset your password.
    </div>
</div>

