@page
@model OWM.UI.Web.Pages.ForgotPasswordModel
@{
    Layout = "Shared/_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="box text-center">
                <h3><i class="fa fa-lock fa-4x"></i></h3>
                <h2 class="text-center">Forgot Password?</h2>
                <p class="small">We send your password to your email.</p>
                <div asp-validation-summary="All" id="ValidationSummary"></div>
                <form method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-envelope"></span>
                            </span>
                        </div>
                        <input type="text" required class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-lg btn-success btn-block" value="Send Password" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>