@page
@using OWM.Application.Services.Interfaces
@inject ITeamsManagerService TeamManager;
@{
    ViewData["Title"] = "One World Marathon";
    Layout = "Shared/_Layout";
}
@{
    var summary = TeamManager.GetSummary();
}
<input type="hidden" id="mp-counter" value="@summary.MilesPledged" />
<input type="hidden" id="c-counter" value="@summary.Countries" />
<input type="hidden" id="p-counter" value="@summary.Participants" />
<div id="home-contents"></div>
<script>
    $(function () {
        $('#home-contents').load('/homepage/home.html').hide().fadeIn(1000);
    })
</script>