@page
@using OWM.Application.Services.Interfaces
@inject ITeamsManagerService TeamManager;
@{
    ViewData["Title"] = "Home";
    Layout = "Shared/_Layout";
}
@{
    var summary = TeamManager.GetSummary();
    var days = Convert.ToInt32((DateTime.Parse("04/12/2019") - DateTime.Now).Days);
}
<input type="hidden" id="mp-counter" value="@summary.MilesPledged" />
<input type="hidden" id="c-counter" value="@summary.Countries" />
<input type="hidden" id="p-counter" value="@summary.Participants" />
<input type="hidden" id="days-until-the-event" value="@days"/>
<div id="home-contents"></div>
<script>
    $(function () {
        $('#home-contents').load('/homepage/home.html');
    })
</script>