@page
@model OWM.UI.Web.Pages.IndexModel
@{
    ViewData["Title"] = "OneWorldMarathon";
    Layout = "Shared/_Layout";
}
<div class="mobile-menu mm-menu mm-offcanvas mm-right" id="mm-0">
    <div class="mm-panels">
        <div class="mm-panel mm-hasnavbar mm-opened mm-current" id="mm-2">
            <div class="mm-navbar">
                <a class="mm-title">Menu</a>
            </div><ul class="mm-listview">
                <li>
                    <a href="/">Home</a>
                </li><li>
                    <a href="https://www.oneworldstrong.org/home" target="_blank">About</a>
                </li><li>
                    <a href="https://www.oneworldstrong.org/copy-of-what-we-do" target="_blank">Impact</a>
                </li><li>
                    <a href="https://www.oneworldstrong.org/copy-of-our-impact" target="_blank">Help us</a>
                </li><li>
                    <a href="https://www.oneworldstrong.org/gallery" target="_blank">Gallery</a>
                </li><li>
                    <a href="https://www.oneworldstrong.org/contact" target="_blank">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="wrap mm-page mm-slideout" id="mm-1" style="">
<header id="header" class="anim">
    <div class="wrap-logo">
        <img alt="One World Strong" class="logo-one-world-strong" src="~/images/logo-one-world-strong-2.svg">
    </div><nav class="">
        <div class="donate">
            <a class="btn" href="https://www.oneworldstrong.org/copy-of-our-impact" target="_blank">Donate</a>
        </div><ul class="desktop-menu">
            <li>
                <a class="active" href="/">Home</a>
            </li><li>
                <a href="https://www.oneworldstrong.org/home" target="_blank">About</a>
            </li><li>
                <a href="https://www.oneworldstrong.org/copy-of-what-we-do" target="_blank">Impact</a>
            </li><li>
                <a href="https://www.oneworldstrong.org/copy-of-our-impact" target="_blank">Help us</a>
            </li><li>
                <a href="https://www.oneworldstrong.org/gallery" target="_blank">Gallery</a>
            </li><li>
                <a href="https://www.oneworldstrong.org/contact" target="_blank">Contact us</a>
            </li>
        </ul>
        <div class="mobile-open">
            <span class="mobile-icon"></span>
        </div>
    </nav>
</header>
<section id="splash" class="anim">
    <div class="logo" style="transition-delay: 0s, 0s;">
        <img alt="One World Marathon" src="~/images/logo-one-world-marathon.svg"><span class="logo-strap">
            <img alt="One World Marathon" src="~/images/logo-one-world-marathon-strap.svg"> one world, one future together
        </span>
    </div>
    <div class="strap" style="transition-delay: 0.2s, 0.2s;">
        <p class="wrap-std">The inaugural OWM global marathon 12-15th April 2019 – join us, run a little, care a lot</p>
    </div>
    <div class="stats anim">
        <!----><ul class="clearfix wrap-std">
            <li class="stat stat-1">
                <h2>Participants</h2>
                <p>13</p>
            </li><li class="stat stat-2">
                <h2>Countries</h2>
                <p>3</p>
            </li><li class="stat stat-3">
                <h2>Miles pledged</h2>
                <p>125</p>
            </li>
        </ul>
        <div class="pledge wrap-std">
            <a class="btn btn-dark-green go-to-pledge" href="#pledge">Pledge to run</a><br>
        </div>
        <div class="arrow">
            <a class="go-to-pledge" href="#pledge">
                <img alt="Pledge" src="~/images/arrow-down.svg">
            </a>
        </div>
    </div>
</section>
<section class="wrap-std content">
    <div class="std-content">
        <div class="block">
            <h2>What is the One World Marathon?</h2>
            <p>One World Strong Foundation embodies the core principles of connection and co-operation, supporting the belief that people around the world should work together toward common goals.</p>
            <p>To reinforce that message, we’ve proposed a marathon, where teams of participants from around the world will combine their efforts to achieve a total of 26.2 miles (or 42.195km) over a four-day event. Participants apply and sign-up for a distance they will contribute on the event dates.</p>
        </div>
        <div class="block">
            <h2>Who can participate?</h2>
            <p>All are welcome, but we especially encourage young people to participate through their schools, colleges and universities, to reinforce the value of making connections, showing curiosity toward other cultures and collaborating toward common goals.</p>
            <p>The event is open to all abilities, assisted or unassisted, mobility impaired, teams or individual participants. We aim to have someone from every country in the world participate.</p>
        </div>
        <div class="block">
            <h2>What’s your ultimate aim from the event?</h2>
            <p>One World Marathon's main objective is to connect people across borders and diverse backgrounds.&nbsp; We encourage teams that represent multiple continents, countries, and cultures. We hope to&nbsp;inspire people to see the benefits of working together as a global community and encourage others to develop similar&nbsp;projects.</p>
            <p>In the long term, we aim to implement a strong, unified, virtual platform, whose message of connectivity and openness contradicts the basic premises of racism, bigotry, violent extremist and terrorist rhetoric.&nbsp;Furthermore, we endeavor to promote a healthy and active lifestyle, global interconnectivity and resiliency for individuals and communities impacted by trauma.</p>
            <p>The implementation of a strong, unified virtual platform, whose message of connectivity and openness contradicts the basic premises of violent extremist and terrorist rhetoric. The promotion of a healthy and active lifestyle, global interconnectivity and resiliency for individuals and communities impacted by trauma.</p>
            <p>One World Marathon’s aim is to inspire people to see the benefits of working together as a global community, and encourage others to develop similar projects.</p>
        </div>
        <div class="block">
            <h2>When is it happening?</h2>
            <p>Between April 12th - April 15th</p>
            <p>The One World Marathon will start on April 12th with the RunJordan Dead Sea Ultra Marathon at 6am and it will end when the Boston Marathon’s final participant, and our Global Race Director Dave McGillivray crosses the finish line – approximately midnight EST on April 15th.</p>
        </div>
    </div>
</section><section id="countdown">
    <div class="wrap-std">
        <p>
            <span class="days">100</span><span class="date">days until the event<br> 12th – 15th April 2019</span>
        </p>
    </div>
</section><section class="wrap-std content">
    <div class="std-content">
        <div class="block">
            <h2>How can I participate</h2>
            <p>It’s up to you!</p>
            <p>Simply fill in the form below to enter. How you achieve your distance is up to you!</p>
            <p>All participants will be part of a team.&nbsp;The minimum number needed to create a team is 2 participants, there is no maximum number. If your team goes over the 26.2 miles that is OK!</p>
            <p>Your distance can be achieved by any type of movement that you are capable of: walk, run, roll over the course of the 4-day event. Participants may be assisted or unassisted. If an individual is assisted, both participants may count their distances and register as separate teammates. A participant may also join multiple teams and contribute separate distances to each team.</p>
        </div>
    </div>
</section><section class="wrap-std" id="pledge">
    <div class="box">
        <div class="form std-form">
            <!---->
            <div class="std-content">
                <h2>Apply and pledge</h2>
            </div>
            <!---->
            <div class="std-content">
                <p>There’s two ways to sign up, one is to sign in using Google or Facebook, which means the form below will be filled in automatically, or you can do it the old fashioned way, and just type your details in by hand.</p>
            </div>
            <div class="buttons clearfix">
                <a class="btn-oauth btn-oauth-google" href="">Sign in using Google</a>
            </div>
            <div class="std-content">
                <p class="use-email">...or sign in with an email below</p>
            </div><!---->
            <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input autocomplete="email" class="text text-medium ng-untouched ng-pristine ng-valid" formcontrolname="email" type="email"><!---->
                </div>
                <button class="btn" type="submit">Sign In With Email</button>
            </form>
            <div class="std-content">
                <p>By signing up you are agreeing to our <a href="/terms">terms &amp; conditions</a> and <a href="/privacy">privacy policy</a>.
                </p>
            </div><!----><!---->
        </div>
    </div>
</section><section class="wrap-std content">
    <div class="std-content">
        <div class="block">
            <h2>How can I follow the progress of the event?</h2>
            <p>The OWM website and social media platforms will be tracking progress and participation globally.</p>
            <p>We encourage participants to share their stories of preparing for the event, and how they overcome challenges along the way. In the lead-up to OWM weekend, our social media channels will feature stories of teamwork, bonding, resilience and the one-on-one connections the teams form pursuing mutual goals.</p>
        </div>
    </div>
    <div class="std-content">
        <div class="block">
            <h2>What will happen after the event?</h2>
            <p>In the years to come, we aim to build a curriculum with the focus of cultural immersion, global citizenship and resiliency culminating in an annual One World Marathon each Spring, and to expand involvement by increasing the number of education networks and participants on a diverse global scale.</p>
        </div>
    </div>
</section><section class="wrap-std" id="donate">
    <div class="box">
        <div class="std-content donate-content">
            <p>Individuals and organizations are invited to make donations to our organization via PayPal.</p><a class="btn" href="https://www.oneworldstrong.org/copy-of-our-impact" target="_blank">Donate</a>
        </div>
    </div>
</section>
<section class="wrap-std" id="partners">
    <div class="std-content">
        <div class="block">
            <h2>One world partners</h2>
            <p>A massive thanks goes out to all our partners that are contributing to the cause</p>
        </div>
    </div>
    <div class="partner-grid">
        <ul class="clearfix">
            <li>
                <a href="https://www.airbnb.co.uk" target="_blank">
                    <img alt="AirBNB" src="~/images/logo-abnb.png" width="48">
                </a>
            </li><li>
                <a href="https://www.vibetickets.co.uk/" target="_blank">
                    <img alt="Vibe" src="~/images/logo-vibe.png" width="71">
                </a>
            </li><li>
                <a href="https://www.hotfootdesign.co.uk/" target="_blank">
                    <img alt="Hotfoot" src="~/images/logo-hotfoot.png" width="85">
                </a>
            </li><li>
                <a href="https://sourcepulp.consulting/" target="_blank">
                    <img alt="Sourcepulp" src="~/images/logo-sourcepulp.png" width="134">
                </a>
            </li><li>
                <a href="https://www.lg.com/" target="_blank">
                    <img alt="LG" src="~/images/logo-lg.png" width="155">
                </a>
            </li><li>
                <a href="https://www.robinzahler.com/" target="_blank">
                    <img alt="Robin Zahler" src="~/images/logo-rz.png" width="164">
                </a>
            </li><li>
                <a href="http://www.cranford.hounslow.sch.uk/" target="_blank">
                    <img alt="Cranford Community College" src="~/images/logo-cranford.png" width="140">
                </a>
            </li><li>
                <span>
                    <img alt="Mens Sana" src="~/images/logo-mens-sana.png" width="82">
                </span>
            </li><li>
                <a href="https://www.morganlewis.com/" target="_blank">
                    <img alt="Morgan Lewis" src="~/images/logo-morgan-lewis.png" width="107">
                </a>
            </li><li>
                <a href="https://wolfonmoon.com/" target="_blank">
                    <img alt="Wolf on the Moon" src="~/images/logo-wolf-on-the-moon.png" width="68">
                </a>
            </li><li>
                <a href="https://edventurepartners.com/" target="_blank">
                    <img alt="EdVenture Partners" src="~/images/logo-evp.png" width="66">
                </a>
            </li><li>
                <a href="http://www.runjordan.com/" target="_blank">
                    <img alt="Run Jordan" src="~/images/logo-run-jordan.png" width="90">
                </a>
            </li>
        </ul>
    </div>
</section>
<footer id="footer">
    <div class="wrap-std">
        <ul class="social clearfix">
            <li>
                <a href="https://www.facebook.com/1WSFoundation/" target="_blank">
                    <img alt="Facebook" src="~/images/icon-facebook.svg">
                </a>
            </li><li>
                <a href="https://twitter.com/1worldstronger" target="_blank">
                    <img alt="Twitter" src="~/images/icon-twitter.svg">
                </a>
            </li><li>
                <a href="http://www.instagram.com/1wsfoundation" target="_blank">
                    <img alt="Instagram" src="~/images/icon-instagram.svg">
                </a>
            </li>
        </ul>
        <hr/>
        <div class="columns clearfix">
            <div class="column column-1">
                <h4>
                    <a href="https://www.oneworldstrong.org/home" target="_blank">About</a>
                </h4><ul>
                    <li>
                        <a href="https://www.oneworldstrong.org/copy-of-who-we-are-1" target="_blank">Mission</a>
                    </li><li>
                        <a href="https://www.oneworldstrong.org/copy-of-our-mission" target="_blank">Our story</a>
                    </li><li>
                        <a href="https://www.oneworldstrong.org/copy-of-our-mission" target="_blank">Board</a>
                    </li><li>
                        <a href="https://www.oneworldstrong.org/copy-of-who-we-are" target="_blank">What we do</a>
                    </li><li>
                        <a href="https://www.oneworldstrong.org/copy-of-what-we-do-1" target="_blank">How we do it</a>
                    </li>
                </ul>
            </div>
            <div class="column column-2">
                <h4>
                    <a href="https://www.oneworldstrong.org/copy-of-what-we-do" target="_blank">Impact</a>
                </h4><ul>
                    <li>
                        <a href="https://www.oneworldstrong.org/copy-of-our-impact-1" target="_blank">In the US</a>
                    </li><li>
                        <a href="https://www.oneworldstrong.org/copy-of-our-work-in-orlando" target="_blank">Abroad</a>
                    </li>
                </ul>
            </div>
            <div class="column column-3">
                <h4>
                    <a href="https://www.oneworldstrong.org/copy-of-our-impact" target="_blank">Help us</a>
                </h4>
            </div>
            <div class="column column-4">
                <h4>
                    <a href="https://www.oneworldstrong.org/gallery" target="_blank">Gallery</a>
                </h4>
            </div>
            <div class="column column-5">
                <h4>
                    <a href="https://www.oneworldstrong.org/contact" target="_blank">Contact us</a>
                </h4>
            </div>
        </div>
        <hr/>
        <div class="copyright"> © 2019 - One World Strong Foundation </div>
    </div>
</footer>
</div>

<div id="mm-blocker" class="mm-slideout"></div>
<section class="mm-slideout" id="ticker">
    <div class="ticker-inner">
        <!---->
        <div class="ticker">
            <!---->
            <div class="ticker-item">Maggie from Harleysville, US just pledged 5.03 miles</div>
            <div class="ticker-item">Suzanne from Harleysville, US just pledged 10 miles</div>
            <div class="ticker-item">Kevin from Harleysville, US just pledged 13.01 miles</div>
            <div class="ticker-item">Gabrielle from Harleysville, US just pledged 5.01 miles</div>
            <div class="ticker-item">Madison from Harleysville, US just pledged 13.1 miles</div>
            <div class="ticker-item">nic from Philadelphia, US just pledged 20.13 miles</div>
            <div class="ticker-item">Tom-James from Lancaster, GB just pledged 10.69 miles</div>
            <div class="ticker-item">Jonny from Manchester, GB just pledged 0.99 miles</div>
            <div class="ticker-item">Alan from London, GB just pledged 1.24 miles</div>
            <div class="ticker-item">Will from United Kingdom just pledged 3.11 miles</div>
        </div>
    </div>
</section>
