@page
@model OWM.UI.Web.Pages.LoginModel
@{
    Layout = "Shared/_Layout";
}

<div class="container">
    <div class="box d-inline-block m-auto">
        <div class="row">
            <div class="col">
                <h2 class="greenheader">Login to your account</h2>
                <div class="form-group">
                    <p for="Username">Username</p>
                    <input class="text text-medium" type="text" id="Username" />
                </div>
                <div class="form-group">
                    <p for="Password">Password</p>
                    <input class="text text-medium" type="text" id="Password" />
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn">Login</button>
                    </div>
                    <div class="col">
                        <a href="#" class="text-primary" style="line-height: 40px;">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>