@page
@model OWM.UI.Web.Pages.LoginModel
@{
    Layout = "Shared/_Layout";
}
<header id="header" class="anim">
    <div class="donate">
        <a class="btn" href="https://www.oneworldstrong.org/copy-of-our-impact" target="_blank">Donate</a>
    </div><ul class="desktop-menu">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="https://www.oneworldstrong.org/home" target="_blank">About</a>
        </li>
        <li>
            <a href="https://www.oneworldstrong.org/copy-of-what-we-do" target="_blank">Impact</a>
        </li>
        <li>
            <a href="https://www.oneworldstrong.org/copy-of-our-impact" target="_blank">Help us</a>
        </li>
        <li>
            <a href="https://www.oneworldstrong.org/gallery" target="_blank">Gallery</a>
        </li>
        <li>
            <a href="https://www.oneworldstrong.org/contact" target="_blank">Contact us</a>
        </li>
    </ul>
    <div class="mobile-open">
        <span class="mobile-icon"></span>
    </div>
</header>

<div class="container mt-5">
    <div class="box d-inline-block m-auto">
        <div class="row">
            <div class="col">
                <h2 class="greenheader">Login to your account</h2>
                <div class="form-group">
                    <p for="Username">Username</p>
                    <input class="text text-medium" type="text" id="Username" />
                </div>
                <div class="form-group">
                    <p for="Password">Password</p>
                    <input class="text text-medium" type="text" id="Password" />
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn">Login</button>
                    </div>
                    <div class="col">
                        <a href="#" class="text-primary" style="line-height: 40px;">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer id="footer">
    <div class="wrap-std">
        <ul class="social clearfix">
            <li>
                <a href="https://www.facebook.com/1WSFoundation/" target="_blank">
                    <img alt="Facebook" src="~/images/icon-facebook.svg">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/1worldstronger" target="_blank">
                    <img alt="Twitter" src="~/images/icon-twitter.svg">
                </a>
            </li>
            <li>
                <a href="http://www.instagram.com/1wsfoundation" target="_blank">
                    <img alt="Instagram" src="~/images/icon-instagram.svg">
                </a>
            </li>
        </ul>
        <hr />
        <div class="columns clearfix">
            <div class="column column-1">
                <h4>
                    <a href="#" target="_blank">About</a>
                </h4><ul>
                    <li>
                        <a href="#" target="_blank">Mission</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Our story</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Board</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">What we do</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">How we do it</a>
                    </li>
                </ul>
            </div>
            <div class="column column-2">
                <h4>
                    <a href="#" target="_blank">Impact</a>
                </h4><ul>
                    <li>
                        <a href="#" target="_blank">In the US</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Abroad</a>
                    </li>
                </ul>
            </div>
            <div class="column column-3">
                <h4>
                    <a href="#" target="_blank">Help us</a>
                </h4>
            </div>
            <div class="column column-4">
                <h4>
                    <a href="#" target="_blank">Gallery</a>
                </h4>
            </div>
            <div class="column column-5">
                <h4>
                    <a href="#" target="_blank">Contact us</a>
                </h4>
            </div>
        </div>
        <hr />
        <div class="copyright"> © 2019 - One World Strong Foundation </div>
    </div>
</footer>