@page
@model OWM.UI.Web.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <div class="alert alert-success">You are logged out.</div>
</div>
<script>
    $(function() {
        setTimeout(function() {
            window.location.replace('/index');
        }, 2000)
    })
</script>

