@page
@model OWM.UI.Web.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy and Policy";
    Layout = "Shared/_Layout";
}
<div id="privacy-contents"></div>
<script>
    $(function () {
        $('#privacy-contents').load('/privacy/privacy.html');
    })
</script>