@page
@model OWM.UI.Web.Pages.RegisterModel
@{
    Layout = "Shared/_Layout";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}
    <link href="~/css/register.css" rel="stylesheet" />
    <script src="~/js/selectize.js"></script>
    <script src="~/js/index.js"></script>
<div class="container text-left">
    <form class="box w-50" method="post">
        <h2 class="greenheader">Register</h2>
        <div asp-validation-summary="All" id="ValidationSummary"></div>
        <div class="row">
            <div class="col-sm-6">
                <input required class="form-control" placeholder="First Name" asp-for="RegistrationData.Name" />
                <span asp-validation-for="RegistrationData.Name" class="text-danger small"></span>
            </div>
            <div class="col-sm-6">
                <input required class="form-control" placeholder="Last Name" asp-for="RegistrationData.Surname" />
                <span asp-validation-for="RegistrationData.Surname" class="text-danger small"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <input required class="form-control" type="email" placeholder="Email address" asp-for="RegistrationData.Email" />
                <span asp-validation-for="RegistrationData.Email" class="text-danger small"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <input required class="form-control" placeholder="Contact number" asp-for="RegistrationData.Phone">
                <span asp-validation-for="RegistrationData.Phone" class="text-danger small"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <select class="chosen-select" asp-items="Model.OccupationOptions" data-placeholder="Occupation" asp-for="RegistrationData.OccupationId">
                    <option></option>
                </select>
                <span class="text-danger small" asp-validation-for="RegistrationData.OccupationId"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-6 position-relative">
                <input class="form-control" type="text" placeholder="City" asp-for="RegistrationData.CityName" autocomplete="off" />
                <span class="fa fa-times position-absolute" title="clear field"></span>
                <ul class="position-absolute" name="cityfilter"></ul>
                <input type="hidden" asp-for="RegistrationData.CityId" />
                <span class="text-danger small" asp-validation-for="RegistrationData.CityName"></span>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="text" asp-for="RegistrationData.CountryName" placeholder="Country" readonly />
                <span class="text-danger small" asp-validation-for="RegistrationData.CountryName"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-6">
                <select class="chosen-select" data-placeholder="Gender" asp-for="RegistrationData.Gender">
                    <option value=""></option>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
                <span class="text-danger small" asp-validation-for="RegistrationData.Gender"></span>
            </div>
            <div class="col-sm-6">
                <select data-placeholder="Ethnicity" asp-items="Model.EthnicityOptions" class="chosen-select" asp-for="RegistrationData.EthnicityId">
                    <option value=""></option>
                </select>
                <span class="text-danger small" asp-validation-for="RegistrationData.EthnicityId"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <input required type="text" id="interests" class="demo-default" value="" asp-for="RegistrationData.Interest">
                <span asp-validation-for="RegistrationData.Interest" class="text-danger small"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <input required class="form-control" placeholder="Password" asp-for="RegistrationData.Password" />
                <span asp-validation-for="RegistrationData.Password" class="text-danger small"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <input required class="form-control" placeholder="Confirm password" asp-for="RegistrationData.ConfirmPassword" />
                <span asp-validation-for="RegistrationData.ConfirmPassword" class="text-danger small"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-6">
                <input required class="form-control" type="date" asp-for="RegistrationData.Birthday" />
                <span class="text-danger small" asp-validation-for="RegistrationData.Birthday"></span>
            </div>
            <div class="col-sm-6 p-2">
                <a class="text-info" href="#">Why do i need to provide my <br>date of birth?</a>
            </div>
        </div>
        <input type="submit" class="btn btn-success mt-2" id="btnRegister" value="Register" />
    </form>
</div>
<script src="~/js/Register.js"></script>