@page
@model OWM.UI.Web.Pages.RegisterModel
@{
    Layout = "Shared/_Layout";
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<div asp-validation-summary="All"></div>
<form method="POST">
    <div>Name: <input asp-for="registrationData.Name" /></div>
    <div>Family: <input asp-for="registrationData.Surname" /></div>
    <div>Email: <input asp-for="registrationData.Email" /></div>
    <input type="submit" />
</form>