@page
@model OWM.UI.Web.Pages.RegisterModel
@{
    Layout = "Shared/_Layout";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}
<link href="~/css/register.css" rel="stylesheet" />
<script src="~/js/selectize.js"></script>
<script src="~/js/index.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="box" method="post">
                <h2 class="greenheader">Register</h2>
                <div asp-validation-summary="All" id="ValidationSummary"></div>
                <div class="row">
                    <div class="col-md-6">
                        <input required class="form-control" placeholder="First Name" asp-for="RegistrationData.Name" />
                    </div>
                    <div class="col-md-6">
                        <input required class="form-control" placeholder="Last Name" asp-for="RegistrationData.Surname" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <input required class="form-control" type="email" placeholder="Email address" asp-for="RegistrationData.Email" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <input required class="form-control" placeholder="Contact number" asp-for="RegistrationData.Phone">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <select class="chosen-select" asp-items="Model.OccupationOptions" data-placeholder="Occupation" asp-for="RegistrationData.OccupationId">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 position-relative">
                        <input class="form-control" type="text" placeholder="City" asp-for="RegistrationData.CityName" autocomplete="off" />
                        <span class="fa fa-times position-absolute" title="clear field"></span>
                        <ul class="position-absolute" name="cityfilter"></ul>
                        <input type="hidden" asp-for="RegistrationData.CityId" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" asp-for="RegistrationData.CountryName" placeholder="Country" readonly />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <select class="chosen-select" data-placeholder="Gender" asp-for="RegistrationData.Gender">
                            <option value=""></option>
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select data-placeholder="Ethnicity" asp-items="Model.EthnicityOptions" class="chosen-select" asp-for="RegistrationData.EthnicityId">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <input required type="text" id="interests" class="demo-default" value="" asp-for="RegistrationData.Interest">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <input required class="form-control" autocomplete="new-password" placeholder="Password" asp-for="RegistrationData.Password" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <input required class="form-control" placeholder="Confirm password" asp-for="RegistrationData.ConfirmPassword" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <input required class="form-control" type="date" asp-for="RegistrationData.Birthday" />
                    </div>
                    <div class="col-md-6">
                        <a id="birthdaycm" style="cursor: pointer; margin-top: 3px;" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                           data-placement="bottom" data-content="And here's some amazing content. It's very engaging. Right?" class="text-info">Why do i need to provide my<br>date of birth?</a>
                    </div>
                </div>
                <input type="submit" class="btn btn-success mt-2" id="btnRegister" value="Register" />
            </form>
        </div>
    </div>
</div>

<script src="~/js/Register.js"></script>
<script src="~/js/CityFilter.js"></script>