@page
@model OWM.UI.Web.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "Shared/_Layout";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}
<link href="~/css/register.css" rel="stylesheet" />
<script src="~/js/selectize.js"></script>
<script src="~/js/index.js"></script>
<div class="container pt-lg-5">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form class="box" method="post">
                <h2 class="greenheader">Register</h2>
                <div asp-validation-summary="All" id="ValidationSummary"></div>
                <div class="row">
                    <div class="col-md-6">
                        <input required class="form-control" placeholder="First Name" asp-for="RegistrationData.Name" />
                    </div>
                    <div class="col-md-6">
                        <input required class="form-control" placeholder="Last Name" asp-for="RegistrationData.Surname" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <input required class="form-control" type="email" placeholder="Email address" asp-for="RegistrationData.Email" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <input class="form-control" placeholder="Contact number" asp-for="RegistrationData.Phone">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <select class="chosen-select" asp-items="Model.OccupationOptions" data-placeholder="Occupation" asp-for="RegistrationData.OccupationId">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="alert alert-info mb-1 p-1">
                            <p class="x-small mb-0">Please type the name of your city first <br> and choose your country from the dropdown menu.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-6 position-relative">
                        <input class="form-control" type="text" placeholder="City" asp-for="RegistrationData.CityName" autocomplete="off" />
                        <span class="fa fa-times position-absolute" title="clear field"></span>
                        <ul class="position-absolute" name="cityfilter"></ul>
                        <input type="hidden" asp-for="RegistrationData.CityId" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" asp-for="RegistrationData.CountryName" placeholder="Country" readonly />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <select class="chosen-select" data-placeholder="Gender" asp-for="RegistrationData.Gender">
                            <option value=""></option>
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                            <option value="2">Non-binary</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select data-placeholder="Ethnicity" asp-items="Model.EthnicityOptions" class="chosen-select" asp-for="RegistrationData.EthnicityId">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <input type="text" id="interests" class="demo-default" value="@TempData["Interests"]" asp-for="RegistrationData.Interest">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <input required class="form-control" autocomplete="new-password" placeholder="Password" asp-for="RegistrationData.Password" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <input required class="form-control" placeholder="Confirm password" asp-for="RegistrationData.ConfirmPassword" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <a id="birthdaycm" style="cursor: pointer; margin-top: 3px;" tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                           data-placement="bottom" data-content="
                           We require a date of birth for all Oneworldmarathon.org accounts to automatically assign users to their age group.our age groups are below 14, 15-17 and 17+.you can only team up with users in your age group." class="text-info x-small">
                            Why do i need to provide my date of birth?
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-1">
                        <span class="small">Date of birth</span>
                    </div>
                    <div class="card-body p-1">
                        <div class="row">
                            <div class="col-sm-4 pr-1" id="day">
                                <select data-placeholder="Day" asp-items="Model.Days" class="chosen-select" asp-for="RegistrationData.DayOfBirth">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-sm-4 pr-1 pl-1" id="month">
                                <select data-placeholder="Month" asp-items="Model.Months" class="chosen-select" asp-for="RegistrationData.MonthOfBirth">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-sm-4 pl-1" id="year">
                                <select data-placeholder="Year" asp-items="Model.Years" class="chosen-select" asp-for="RegistrationData.YearOfBirth">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <input class="form-control" type="text" placeholder="How did you hear about us?" value="@TempData["HowDidYouHearUs"]" asp-for="RegistrationData.HowDidYouHearUs" />
                    </div>
                </div>
                <input type="submit" class="btn btn-success mt-3" id="btnRegister" value="Register" />
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<script src="~/js/Register.js"></script>
<script src="~/js/CityFilter.js"></script>


@*<input required class="form-control" type="date" asp-for="RegistrationData.Birthday" />*@
