@page
@model OWM.UI.Web.Pages.RegisterTestModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form class="box w-50" method="post">
    <input type="submit" class="btn btn-success mt-2" id="btnRegister" value="Register" />
</form>