@page
@model OWM.UI.Web.Pages.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container">
    <div class="alert alert-success d-block">
        Your password has been reset. Please <a asp-page="/Login">click here</a> to log in.
    </div>
</div>
