@page
@model OWM.UI.Web.Pages.TeamInfoModel
@{
    Layout = "User/Shared/UserLayout";
}

<div class="card bg-white">
    <div class="card-body">
        <div class="row">
            <div class="col-md-9">
                <h3>London Foundation</h3>
                <h6 class="x-small text-muted">Created on : 25 Jan 2017</h6>
                <hr class="mt-1 mb-2"/>
                <h6 class="mb-0 text-muted">
                    Mix and match multiple content types to create the card you need, or throw everything in there. Shown below are image styles, blocks, text styles, and a list group—all wrapped in a fixed-width card.
                </h6>
            </div>
            <div class="col-md-3 text-right mt-auto">
                <button type="submit" class="btn btn-primary">Join team</button>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-6 col-xl-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="fa fa-map-marked-alt display-4 text-info"></div>
                            <div class="ml-3">
                                <div class="text-muted small">Miles Pledged</div>
                                <div>687,123</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="fa fa-users display-4 text-warning"></div>
                            <div class="ml-3">
                                <div class="text-muted small">Members</div>
                                <div>105,652</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3>Memebers</h3>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="card pt-2">
                    <img class="rounded-circle w-50 m-auto" src="https://via.placeholder.com/300/09f/fff.png" alt="Card image">
                    <div class="card-body">
                        <h5>John Doe</h5>
                        <h6 class="card-text">Some example text.</h6>
                        <a href="#" class="btn btn-primary btn-sm">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card pt-2">
                    <img class="rounded-circle w-50 m-auto" src="https://via.placeholder.com/300/09f/fff.png" alt="Card image">
                    <div class="card-body">
                        <h5>John Doe</h5>
                        <h6 class="card-text">Some example text.</h6>
                        <a href="#" class="btn btn-primary btn-sm">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card pt-2">
                    <img class="rounded-circle w-50 m-auto" src="https://via.placeholder.com/300/09f/fff.png" alt="Card image">
                    <div class="card-body">
                        <h5>John Doe</h5>
                        <h6 class="card-text">Some example text.</h6>
                        <a href="#" class="btn btn-primary btn-sm">See Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
