@page "/Teams/{handler}/{id}"
@model OWM.UI.Web.Pages.TeamJoinModel
@{
    Layout = "Shared/_Layout";   
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<div class="container">
    @if (Model.IsJoin)
    {
        <div class="alert alert-success d-block text-center">join</div>
    }

    @if (Model.IsInvite)
    {
        <div class="alert alert-success d-block text-center">
            <div>You have been invited to join @Model.TeamName
                <br/>
                To join this team, you need to 
                <a class="text-primary" asp-page="/Login">login</a>
                or <a class="text-primary" asp-page="/Register">register</a>.
            </div>
        </div>
    }    
</div>
