@page
@model OWM.UI.Web.Pages.TeamInfoModel
@{
    Layout = "Shared/_Layout";
}

<style>
    .list-group-item a {
        font-size: 11pt;
    }
    .card .list-group .list-group-item {
        font-size: 10pt;
        text-align: center;
    }
    .media img {
        width: 50px;
        height: auto;
    }
</style>
<div class="container">
    <div class="card bg-white">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <h3>London Foundation</h3>
                    <h6 class="x-small text-muted">Created on : 25 Jan 2017</h6>
                    <hr class="mt-1 mb-2" />
                    <h6 class="mb-0 text-muted">
                        Mix and match multiple content types to create the card you need, or throw everything in there. Shown below are image styles, blocks, text styles, and a list group—all wrapped in a fixed-width card.
                    </h6>
                </div>
                <div class="col-md-3 text-right mt-auto">
                    <button type="submit" class="btn btn-primary mt-2">Join team</button>
                </div>
            </div>
            <hr />
            <div class="row mt-4 mb-4">
                <div class="col-sm-4 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="fa fa-map-marker-alt display-4 text-info"></div>
                                <div class="ml-3">
                                    <div class="text-muted small">Miles Pledged</div>
                                    <div>687,123</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="fas fa-map-marked-alt display-4 text-primary"></div>
                                <div class="ml-3">
                                    <div class="text-muted x-small">Miles Completed</div>
                                    <div>10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="fa fa-users display-4 text-warning"></div>
                                <div class="ml-3">
                                    <div class="text-muted small">Members</div>
                                    <div>105,652</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="list-group">
                        <div class="list-group-item active text-center">
                            Members
                        </div>
                        <div style="overflow: auto; max-height: 250px;" id="search">
                            <div class="list-group-item text-left list-group-item-action" href="#">
                                <div class="media">
                                    <img class="mr-3 rounded-circle" src="http://up.vbiran.ir/uploads/620015514480685669_photo_2018-07-20_13-43-57.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="#"><h5 class="mt-0 mb-0 font-weight-bold">Omid Mokhtari</h5></a>
                                                <p class="small mt-2 mb-0">Los Angeled ,United States</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Miles Pledged : <span class="badge badge-primary">25</span></p>
                                                <p class="mb-0">Miles Completed : <span class="badge badge-success">12</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 