@page
@using FromTagHelper.ViewModel
@model FromTagHelper.ViewModel.RegisterViewModel
@{
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}
<form method="post">
    <select >
        <option value="">Choose a tag</option>
    </select>
    <button type="submit">sub</button>
</form>