@page
@model OWM.UI.Web.Pages.userModel
@{
    Layout = "Shared/_Layout";
}
<link href="~/css/user.css" rel="stylesheet" />

<div class="container">
    <div class="w-100 m-auto">
        <div class="row">
            <div class="col-md-3 p-0">
                <div class="list-group mb-2">
                    <div class="list-group-item text-center bg-light">
                        <div class="d-block mb-2">
                            <img class="user-image" src="http://square-vn.com/app/dscms/assets/images/person-4.jpg?v=1495618120" />
                        </div>
                        <a class="border-bottom mb-2" id="v-pills-editprof-tab" data-toggle="pill" href="#v-pills-editprof" role="tab" aria-controls="v-pills-editprof" aria-selected="true">Edit profile</a>
                        <h4 class="font-weight-bold mb-1">JOHN SMITH</h4>
                        <h6 class="mb-0 font-weight-bold">Teacher</h6>
                    </div>
                </div>
                <div class="card mb-2 p-3" id="menu">
                    <div class="list-group list-group-flush nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <div class="list-group-item active" id="v-pills-myteams-tab" data-toggle="pill" href="#v-pills-myteams" role="tab" aria-controls="v-pills-myteams" aria-selected="true">My Teams</div>
                        <div class="list-group-item" id="v-pills-newsfeed-tab" data-toggle="pill" href="#v-pills-newsfeed" role="tab" aria-controls="v-pills-newsfeed" aria-selected="false">News Feed</div>
                        <div class="list-group-item" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</div>
                        <div class="list-group-item" id="v-pills-searchteam-tab" data-toggle="pill" href="#v-pills-searchteam" role="tab" aria-controls="v-pills-searchteam" aria-selected="false">Search Teams</div>
                        <div class="list-group-item" id="v-pills-createteam-tab" data-toggle="pill" href="#v-pills-createteam" role="tab" aria-controls="v-pills-createteam" aria-selected="false">Create a Team</div>
                        <div class="list-group-item" id="v-pills-help-tab" data-toggle="pill" href="#v-pills-help" role="tab" aria-controls="v-pills-help" aria-selected="false">Help</div>
                        <div class="list-group-item"><a href="#">Logout</a></div>
                    </div>
                </div>
                <div class="card mb-2 pt-3 p-2 bg-success text-white text-center">
                    <p class="mb-1">Team Joined</p>
                    <h1 class="mb-0">2</h1>
                    <hr class="bg-white" />
                    <p class="mb-1">Miles Pledged</p>
                    <h1 class="mb-0">12</h1>
                    <hr class="bg-white" />
                    <p class="mb-1">Miles Completed</p>
                    <h1 class="mb-0">3.4</h1>
                </div>
            </div>
            <div class="col-md-9 p-0 pl-2 pr-2">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-myteams" role="tabpanel" aria-labelledby="v-pills-myteams-tab">
                                <h3 class="d-flex justify-content-center mb-4">Team Managment</h3>
                                <div class="row mb-5">
                                    <div class="col-md-6 text-center">
                                        <button type="button" class="btn btn-lg btn-success w-75 pt-3 pb-3">
                                            <span class="fa fa-plus"></span> CREATE NEW TEAM
                                        </button>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <button class="btn btn-lg btn-success w-75 pt-3 pb-3">JOIN A TEAM</button>
                                    </div>
                                </div>
                                <table class="table" id="tbluserteams">
                                    <tr>
                                        <th >Team name</th>
                                        <th >Miles pledged</th>
                                        <th >Miles Completed</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td>John's Team</td>
                                        <td class="text-center">
                                            <span class="col">team</span>
                                            <span class="col">me</span>
                                        </td>
                                        <td></td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-success">Edit</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>London Foundation</td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-success">Edit</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="v-pills-newsfeed" role="tabpanel" aria-labelledby="v-pills-newsfeed-tab">2</div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">3</div>
                            <div class="tab-pane fade" id="v-pills-searchteam" role="tabpanel" aria-labelledby="v-pills-searchteam-tab">4</div>
                            <div class="tab-pane fade" id="v-pills-createteam" role="tabpanel" aria-labelledby="v-pills-createteam-tab">5</div>
                            <div class="tab-pane fade" id="v-pills-help" role="tabpanel" aria-labelledby="v-pills-help-tab">6</div>
                            <div class="tab-pane fade" id="v-pills-editprof" role="tabpanel" aria-labelledby="v-pills-editprof-tab">7</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#v-pills-editprof-tab[role="tab"]').on('click',
        function() {
            $('div[data-toggle="pill"]').removeClass('active');
            $('.tab-pane[role="tabpanel"]').removeClass('show active');
            $('#v-pills-editprof[role="tabpanel"]').addClass('show active');
        });
</script>
