@page "/Content/Video"
@model OWM.UI.Web.Pages.Video
@{
    Layout = "Shared/_Layout";
}
<style>
    .nopadding {
        padding: 2px !important;
        margin: 0 !important;
    }
</style>
<div class="container text-center">
    <div class="card">
        <div class="card-header text-left">
           
        </div>
        <div class="card-body">
            <div class="row pl-4 pr-4 pt-2 pb-2">
                <div class="col-sm-3 nopadding">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video src="videos/Promo_Argentina_clean.mp4" width="100%" controls></video>
                    </div>
                </div>
                <div class="col-sm-3 nopadding">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video src="videos/Promo_Argentina_clean.mp4" width="100%" controls></video>
                    </div>
                </div>
                <div class="col-sm-3 nopadding">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video src="videos/Promo_Argentina_clean.mp4" width="100%" controls></video>
                    </div>
                </div>
                <div class="col-sm-3 nopadding">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video src="videos/Promo_Argentina_clean.mp4" width="100%" controls></video>
                    </div>
                </div>
                <div class="col-sm-3 nopadding">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video src="videos/Promo_Argentina_clean.mp4" width="100%" controls></video>
                    </div>
                </div>
                <div class="col-sm-3 nopadding">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video src="videos/Promo_Argentina_clean.mp4" width="100%" controls></video>
                    </div>
                </div>
                <div class="col-sm-3 nopadding">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video src="videos/Promo_Argentina_clean.mp4" width="100%" controls></video>
                    </div>
                </div>
                <div class="col-sm-3 nopadding">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video src="videos/Promo_Argentina_clean.mp4" width="100%" controls></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
