@page
@model OWM.UI.Web.Pages.Video_galleryModel
@{
    Layout = "Shared/_Layout";
}
<div class="container text-center">
    <div class="card">
        <div class="card-header text-left">
            <a class="btn btn-outline-primary active" asp-page="/video_gallery" title="Video gallery"><i class="fas fa-video"></i></a>
            <a class="btn btn-outline-primary" asp-page="/picture_gallery" title="Picture gallery"><i class="fas fa-image"></i></a>
        </div>
        <div class="card-body">
           
        </div>
    </div>
</div>
